/*
Needed to prevent the jumbotron to get hidden by the navbar
*/
body {
  padding-top: 54px;
}

/*
When the screen width increases to 992px, the padding from the top increases a little
*/
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}



.col-lg-4{
    text-align: center
}

.card-body{
    background-color: #a1c4e9;
}

.card-footer{
    background-color: #a1c4e9;
}

.jumbotron{
    background-color: #a1c4e9;
}


.col-sm-6 mb-4{
    text-align: center;
}


/* Makes default navbar links display block at choosen breakpoint and adjust styles to fit...
*/

@media (max-width: 62em) {
	.navbar-nav {
		padding-top: .425rem;
		padding-left: 0.75rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}
}

